@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(73, 73, 73); /* Set color of the scrollbar */
}

.container {
  height: 100vh;
  color: #ffffff;
}
.left {
  width: 25vw;
  padding: 8px;
  flex-direction: column;
}

.home {
  flex: 0 1 auto;
}

.close {
  position: absolute;
  right: 54px;
  top: 22px;
  display: none;
}

.home ul li {
  list-style: none;
  width: 22px;
  gap: 12px;
  padding-top: 12px;
  font-weight: 500;
}

.library {
  flex: 1 1 auto;
}

.right {
  width: 75vw;
  max-height: 100vh;
  position: relative;
}
.header {
  justify-content: space-between;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.cardContainer {
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 70vh;
  margin: 5px;
  gap: 5px;
}

.card {
  width: 200px;
  flex-direction: column;
  position: relative;
  margin: 5px;
  padding: 5px;
}

.card img {
  object-fit: contain;
  width: 100%;
}

.play {
  position: absolute;
  right: 10%;
  bottom: 22%;
  opacity: 0;
  transition: all 1s ease-out;
}

.btn:hover {
  background-color: rgb(63, 62, 62);
  color: #fff;
}
.card:hover {
  background-color: rgb(54, 54, 54);
}

.card:hover .play {
  bottom: 30%;
  opacity: 1;
}

.playbar {
  position: fixed;
  bottom: 3%;
  width: 73vw;
  background-color: rgb(78, 78, 78);
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  min-height: 42px;
  gap: 12px;
}

.songList {
  overflow-y: scroll;
  max-height: 70vh;
}

.songList li {
  justify-content: space-between;
}

.songList ul li {
  gap: 14px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.seekbar {
  height: 5px;
  width: 72vw;
  position: absolute;
  bottom: 0;
  border-radius: 35px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #fff;
}

.abovebar {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.circle {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: rgb(0, 0, 0);
  position: relative;
  bottom: 6px;
  left: 0%;
  transition: left 0.5s;
}

.songbuttons {
  cursor: pointer;
}

/* //////////////// media queries ##################  */

@media (max-width: 1300px) {
  .left {
    position: absolute;
    left: -120%;
    transition: all 0.4s;
    z-index: 1;
    width: 352px;
    height: 97vh;
  }

  .right {
    width: 100vw;
  }
  .playbar {
    width: calc(100vw - 45px);
  }
  .seekbar {
    width: calc(100vw - 55px);
  }

  .hamburger {
    display: inline;
  }
  .close {
    display: block;
  }
}

@media (max-width: 500px) {
  .cardContainer {
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .card {
    width: 85vw;
  }

  .abovebar {
    flex-direction: column;
    width: 90vw;
    padding: 5px;
  }
}
